.dropdown-item {
  text-align: start !important;
  &.active {
    color: white !important;
  }
}
.dropdown-menu.show {
  max-height: 170px;
  // overflow: auto;
  max-width: 350px !important;
}
.dropdown {
  flex: 1;
}
