@import "./HeaderUserOption/index.scss";
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../public/images/Untitled-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .header-wrapper {
    padding: 1.8rem 0 0.1rem 0;
  }
  .top-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 0.3rem;

    .right-side-wrapper {
      width: 70%;
      a {
        img {
          width: 75%;
        }
      }
    }
    .left-side-wrapper {
      //   width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .sign-up {
        display: flex;
        justify-content: space-between;
        // background-color: #f9f9f9;
        color: var(--orange);
        color: white;
        padding: 0.2rem;
        transition: 0.3s ease-in-out;
        border-radius: 5px;
        // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

        &:hover {
          // background-color: #fff;
          // box-shadow: 0 0 7px 3px rgba(#333, 0.2);
        }

        > span {
          font-size: 18px;
          padding-right: 5px;
          font-weight: light;
          cursor: pointer;

          &:hover {
            color: black;
          }
          i {
            font-size: 24px;
          }
        }
      }
      .search {
        display: flex;
        position: relative;
        z-index: 5;

        form {
          display: flex;
          align-items: center;
          position: relative;
          border-bottom: 2px solid var(--cream);
          color: var(--cream);
          i {
            position: absolute;
            left: 5px;
            transform: scaleX(-1);
            font-weight: 400;
            font-size: 18px;
          }
          input {
            background: none;
            border: none;
            outline: none;
            padding: 0.5rem;
            color: #6f6f6f;
          }
        }
        .search-drop-down {
          display: none;
          flex-direction: column;
          position: absolute;
          background-color: #fff;
          width: 100%;
          top: 30px;
          max-height: 200px;
          overflow: auto;

          a {
            color: #000;
            figure {
              background-color: #fff;
              display: flex;
              align-items: center;
              width: 100%;

              // width: 150px;
              padding: 0.5rem;
              border-bottom: 1px solid rgba(#aaaaaa, 0.3);
              img {
                width: 30%;
              }
              figcaption {
                width: 70%;
                p {
                  font-size: 0.7rem;
                  span {
                    font-size: 0.7rem;
                  }
                }
              }
            }
          }
        }
        .show-search {
          display: flex;
        }
      }
    }
  }
  nav {
    background-color: #fff;
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    // overflow: hidden;
    .small-device-wrapper {
      display: none;
      .menu-btn {
        background: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        padding: 0.5rem;
        display: none;
      }
    }
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0.7rem 1rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          display: none;
        }
        a {
          color: inherit;
          &:hover {
            color: inherit;
          }
        }
        h6 {
          text-align: center;
          font-weight: lighter;
          cursor: pointer;
          position: relative;
          font-weight: 500;
          color: #827123;
          &:after {
            content: "";
            width: 0;
            height: 2px;
            background-color: rgba(#333, 0.4);
            position: absolute;
            right: 0;
            bottom: -5px;
            transition: 0.3s ease-in-out;
          }

          &:hover::after,
          &.active::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .edit-phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-size: 0.8rem;
    }
    .span-edit {
      color: blue;
      cursor: pointer;
      margin-top: 0.4rem;
    }
  }

  .form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #333;

    label {
      margin-top: 1rem;
      margin-bottom: 0.3rem;
      text-align: center;
    }
    .pass-label-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      margin-bottom: 0.3rem;
      align-items: flex-end;
      label {
        margin: 0;
      }
      span a {
        font-size: 0.7rem;
      }
    }

    .login-name-wrapper,
    .pass-wrapper {
      position: relative;

      i {
        font-size: 18px;
        color: #333;
        position: absolute;
        padding: 0.5rem;
      }
      input {
        width: 100%;
        border: 1px solid #333;
        padding: 0.5rem;
        padding-right: 2rem;
        border-radius: 4px;
        background-color: rgba(#f9f9ba, 0.8);
      }
    }
    button {
      padding: 0.3rem 3rem;
      border: none;
      background: #f89f34;
      text-align: center;
      transition: 0.3s ease-in-out;
      border-radius: 5px;
      color: #fff;
      font-size: 1.4rem;
      margin: 14px auto;

      &:hover {
        background: #d37400;
      }
    }
    .chekbox-wrapper {
      margin-top: 0.5rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      input {
        margin-left: 0.2rem;
        margin-top: 0.7rem;
      }
    }
    .code-input {
      text-align: center;
    }
  }
}
.form-footer {
  border-top: 1px solid #dee2e6;
  text-align: center;
  padding: 2rem 1rem;
  a {
    margin-right: 0.3rem;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  opacity: 1;
  transform: translateY(0);
  transition: 0.1s ease-in-out;
  h2 {
    font-size: 1rem;
  }
}

.not-show {
  transform: translateY(-100%) !important;
  opacity: 0;
}

@media only screen and (max-width: 370px) {
  header {
    .right-side-wrapper {
      margin-bottom: 0.5rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        justify-content: center;
        img {
          width: 90%;
          max-height: 82px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  header {
    .top-section {
      flex-direction: column;
      align-items: center;

      .right-side-wrapper {
        a {
          display: flex;
          justify-content: center;
          img {
            width: 90%;
          }
        }
      }
      .left-side-wrapper {
        display: none;
      }
    }
    nav {
      background-color: #fff;
      width: 100%;
      margin-bottom: 0.5rem;
      .small-device-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        position: relative;
        .menu-btn {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .small-search-wrapper {
          .show-search-input {
            height: 150px !important;
            overflow: auto !important;
            transition: 0.3s ease-in-out;
          }
          // position: relative;
          .search {
            z-index: 5;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50px;
            right: 0;
            width: 100%;
            height: 0px;
            overflow: hidden;
            transition: 0.3s ease-in-out;
            form {
              width: 100%;
              display: flex;
              align-items: center;
              position: absolute;

              input {
                display: block;
                padding: 10px;

                width: 100%;
              }
            }
            .search-drop-down {
              display: none;
              flex-direction: column;
              position: absolute;
              background-color: #fff;
              width: 100%;
              top: 30px;
              max-height: 200px;
              overflow: auto;

              a {
                color: #000;
                figure {
                  background-color: #fff;
                  display: flex;
                  align-items: center;
                  width: 100%;

                  // width: 150px;
                  padding: 0.5rem;
                  border-bottom: 1px solid rgba(#aaaaaa, 0.3);
                  img {
                    width: 30%;
                  }
                  figcaption {
                    width: 70%;
                    p {
                      font-size: 0.7rem;
                      span {
                        font-size: 0.7rem;
                      }
                    }
                  }
                }
              }
            }
            .show-search {
              display: flex;
            }
          }
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        background-color: #fff;
        z-index: 20;
        height: 100vh;
        // transform: translateX(100%);
        transition: 0.3s ease-in-out;

        li {
          margin-right: 1rem;

          &:first-child {
            display: block;
            font-size: 1.2rem;
            margin-right: auto;
          }
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: #333;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .over-show {
    opacity: 0.5;
  }
  .over-unShow {
    opacity: 0;
  }

  .show {
    transform: translateX(0);
  }
  .unShow {
    transform: translateX(100%);
  }
}

@media only screen and (max-width: 720px) {
  header {
    nav {
      ul {
        li {
          margin-right: 1rem;
          h6 {
            font-size: 0.8rem;
          }
        }
      }
      .small-device-wrapper {
        .menu-btn {
          padding: unset;
        }
      }
    }
  }
}
