.w-btn {
  display: inline-flex;
  padding: 8px;

  margin: 10px;
  border-radius: 5px;
  transition: all 0.2s linear;
  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
  &.green {
    background-color: #c9da2a;
    &:hover {
      background-color: #a6b422;
      color: white;
    }
  }
  &.yellow {
    background-color: #f1f6cc;
    &:hover {
      background-color: #d8e288;
    }
  }
  &.accentColor {
    background-color: #ec9e37;
  }
  cursor: pointer;
  > span {
    font-size: 0.75rem;
    font-weight: 700;
  }
}
