.shipping-section {
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .shipping-wrapper {
    margin: auto;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        margin: 0;
        height: 100%;
        padding: 0rem 1rem;
        figure {
          display: flex;
          align-items: center;
          margin: 0;
          img {
            width: 30%;
          }
          figcaption {
            padding-inline-start: 0.5rem;
            h6 {
              margin: 0;
              padding: 0;
            }
            p {
              margin: 0;
              padding: 0;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .shipping-section {
    padding: 0.5rem;
    .shipping-wrapper {
      ul {
        flex-wrap: wrap;
        margin: 0;
        & > li:first-child {
          figure {
            margin-inline-start: 45px;
          }
        }
        li {
          padding: 1rem 0.1rem;
          width: 100%;
          align-items: center;
          justify-content: center;

          figure {
            display: flex;
            align-items: center;
            margin: 0;
            justify-content: center;
            figcaption {
              h6 {
                font-size: 0.9rem;
              }
              p {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 965px) and (min-width: 500px) {
  .shipping-section {
    padding: 0.5rem;
    .shipping-wrapper {
      ul {
        flex-wrap: wrap;
        margin: 0;

        li {
          padding: 1rem 0.1rem;
          width: 48%;
          align-items: center;
          justify-content: center;

          figure {
            display: flex;
            align-items: center;
            margin: 0;
            justify-content: center;
            figcaption {
              h6 {
                font-size: 0.9rem;
              }
              p {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
  }
}
