.main-head {
  padding: 1em;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div {
    margin: 0 1em;
  }
  .addImageBtn {
    font-size: 0.9em;
    vertical-align: middle;
    margin: 0 1rem;
  }
}

.show-image-wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  // padding: 1rem 2rem;
  overflow: auto;
  .card-image-gallery {
    // width: 10em;
    // flex: 0 0 20.137%;
    // max-width: 20.137%;
    // margin: 2rem;
    // box-shadow: var(--boxShadowLow);
    padding: 0.3rem;
    margin: 1.5rem 0;
    cursor: pointer;

    &:hover {
      img {
        transform: translateY(-1em);
        transition: all 0.2s linear;
      }
    }
    img {
      transition: all 0.2s linear;
      border-radius: 0.3em;

      &.actived {
        background-color: green;
      }
    }
    .galleryTitle {
      p {
        font-size: 0.7rem;
        color: #6c757d;
        margin: 0.3rem 0;
      }
    }
  }
}

.gallery {
  padding: 0 24px;
}
.gallery-filter {
  display: flex;
  cursor: pointer;
  > li {
    margin: 0 8px;
    font-size: 0.8rem;

    &.active {
      color: blue !important;
    }
  }
}
.gallery-header {
  display: flex;
  align-items: center;

  > button {
    margin-inline-start: auto;
  }
}

@media (max-width: 500px) {
  .gallery-header {
    flex-direction: column;
    justify-content: center !important;
    > button {
      margin: 10px 0 0 0;
    }
    order: -1;
  }
}
