#coverContainer {
  transition: 0.5s;
  position: fixed;
  z-index: 20;
}
#coverContainer.fadeIn {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  // width: 100vw;
  // height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.5s;
  -webkit-animation: background-dark-fadeIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: background-dark-fadeIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes background-dark-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes background-dark-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#coverContainer.fadeOut {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-animation: background-dark-fadeOut 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: background-dark-fadeOut 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes background-dark-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    position: unset;
  }
}
@-webkit-keyframes background-dark-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    position: unset;
  }
}
