.adminLogin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrPL84Q_5let5t75e26O8itwnDrhdNw8a89hGpY-9jW33ph9Ci&s);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-color: rgba(0, 0, 0, 0.8);
}

.adminLoginForm {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #c5c5c5; */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: white;
}

.adminLoginForm h2 {
  font-size: 25px;
  text-align: center;
  margin: 16px;
}

.adminLoginInput {
  display: flex;
  margin: 4px 60px;
  flex-direction: column;
  width: 70%;
}

.adminLoginInput label {
  text-align: start;
  margin: 8px;
}

.adminLoginInput > div {
  background-color: #ffffff24;
  padding: 0.2rem 0.2rem;

  border-radius: 0.5em;
  display: flex;
}
.adminLoginInput > div > div {
  background-color: #ffffff24;
  padding: 0.7em 2em;
  display: flex;
  border-radius: 0 0.5em 0.5em 0;
}

.adminLoginInput input {
  text-align: center;
  font-family: iranSans, serif;
  border: none;
  background-color: transparent;
  width: 90%;
  border-radius: 0.5em 0 0 0.5em;
  color: white;
}

.adminLoginForm button {
  font-size: 18px;
  padding: 8px 48px;
  margin: 8px;
}

.adminLoginForm h4 {
  cursor: pointer;
}
