.addFileModalContainer {
  position: relative;
  display: flex !important;
  border: 1px solid #929292;
  border-radius: 5px;
  height: 2.5rem;
  align-items: center;
  flex: 1;
  overflow: hidden;
  padding: unset !important;
}
.addFileModalContainer > div {
  width: 100%;
  white-space: nowrap;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.8rem;
}
.data-show-array {
  display: flex;
  padding: 0.5em;
  > div {
    display: flex;
    flex-wrap: wrap;
    > span {
      box-shadow: var(--boxShadowLow);
      padding: 0.5rem;
      border-radius: 0.5em;
      cursor: pointer;
      margin: 0 0.5rem;
      &:hover {
        box-shadow: var(--boxShadowLowHover);
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
      }
    }
  }
}
.addFileModalContainer > label > span {
  background-color: #003265;

  display: flex;

  border-radius: 10px;

  text-align: center;

  height: 100%;

  justify-content: center;

  line-height: normal;
  align-items: center;
  font-size: 0.9em;
}
.addFileModalContainer > label {
  top: 0;
  left: 0;
  padding: 0.5em 0.2em;
  width: 7em;

  color: white;
  text-align: center;
  cursor: pointer;
  /* width: 51px; */
  height: 3em;
  cursor: pointer;
  overflow: hidden;
}
.addFileModalContainer > label > input {
  visibility: hidden;
}
.show-image-array {
  width: 10em;
  max-height: 10em;
  border-radius: 0.4em;
  margin: 0 1em 1em;
}

.data-show-array {
  display: flex;
  line-height: normal;
  flex-flow: row !important;
  flex-wrap: wrap !important;
  cursor: pointer;
  > span {
    box-shadow: var(--boxShadowLow);
    margin: 0.5em;
    padding: 0.1em 0.8em;
  }
}
