$spacer: 1rem;

.categories-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  // background-color: #fff;
  .left-side-categories {
    width: 75%;
    order: 1;
    .cat-menu-toggler {
      position: static;
      display: none;
      cursor: pointer;
    }
  }

  .right-side-categories {
    // position: relative;
    width: 23%;
    .cat-fil-wrapper {
      width: 100%;
      // height: 75vh;
      background-color: #fff;
      padding: 1rem;
      margin: 1.5rem 0 3rem 0;
      border-radius: 7px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      position: sticky;
      // position: -webkit-sticky;
      top: 1rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .categories-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .left-side-categories {
      width: 98%;
      margin: 0 auto;

      .cat-menu-toggler {
        // position: absolute;
        display: block;
        background-color: #fff;
        box-shadow: 0 0 15px 1px rgba(#333, 0.2);
        width: 150px;
        p {
          padding: 0.7rem 1rem;
          font-size: 0.7rem;
          width: fit-content;
        }
      }
    }

    .right-side-categories {
      width: 0px;

      .cat-fil-wrapper {
        width: 250px;
        height: 100%;
        top: -25px;
        right: 0;
        left: 100px;
        bottom: 0;
        overflow-y: auto;
        position: fixed;
        transform: translateX(1000%);
        transition: 0.7s ease-in-out;
        z-index: 150;
      }
      .show-cat {
        transform: translateX(0);
      }
    }
  }
}

// @media only screen and (min-width: 500px) and (max-width: 1000px) {
//   .categories-section {
//     display: flex;
//     width: 100%;
//     justify-content: space-between;
//     .left-side-categories {
//       width: 95%;
//       margin: 0 auto;
//     }
//     .right-side-categories {
//       width: 0px;
//       .cat-menu-toggler {
//         // position: absolute;
//         display: block;
//         background-color: #fff;
//         box-shadow: 0 0 15px 1px rgba(#333, 0.2);
//         width: 150px;
//         p {
//           padding: 0.7rem 1rem;
//           font-size: 0.7rem;
//           width: fit-content;
//         }
//       }
//       .cat-fil-wrapper {
//         width: 250px;
//         height: 100%;
//         top: -25px;
//         right: 0;
//         left: 100px;
//         bottom: 0;
//         overflow-y: auto;
//         position: fixed;
//         transform: translateX(1000%);
//         transition: 0.7s ease-in-out;
//       }
//       .show-cat {
//         transform: translateX(0);
//       }
//     }
//   }
// }

@import "./Slider/SliderCard/index.scss";
@import "./productsSection/ProductsSectionCard/index.scss";
@import "./CategoryPanel/index.scss";
@import "./filtersPanel/FilterPanelCard/index.scss";
@import "./topFilterPanel/index.scss";
