.awesome-scroll-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  will-change: transform;
  user-select: none;
}
.isMobile {
  .awesome-scroll-container {
    overflow-x: auto;
  }
  .slider-btn {
    display: none;
  }
}
.ps__thumb-x {
  background-color: #636363 !important;
}

.ps__rail-x:hover {
  background-color: transparent !important;
}

.awesome-scroll-container.active {
  cursor: grabbing;
  transform: scale(1);
}

.awesome-scroll-wrapper {
  margin-bottom: 10px;
  // padding-inline-start: 1.25rem;
  &.row {
    flex-wrap: nowrap;
  }
  display: flex;
}
.slider-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  &.btn-right {
    right: 0;
  }
  &.btn-left {
    left: 0;
  }
  > span {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    z-index: 10;
    cursor: pointer;
    box-shadow: 1px 1px 7px -1px rgba($color: #000000, $alpha: 0.5);
  }
}

@media (max-width: 425px) {
  .awesome-scroll-wrapper {
    // padding-inline-start: 0.625rem;
  }
}
// @media (max-width: 768px) {
//   .awesome-scroll-container {
//     overflow-x: auto;
//     overflow-y: hidden;
//   }
// }
