.top-filter-cat-section {
  display: flex;
  .top-filter-section {
    display: flex;
    ul {
      display: flex;
      padding: 1rem 0.4rem 1.5rem 0rem;
      li {
        background-color: #fff;
        border-radius: 30px;
        padding: 0.2rem 1rem;
        margin-left: 0.8rem;
        box-shadow: 0 0 10px 1px rgba(177, 177, 177, 0.7);
        cursor: pointer;
        .one-filter-wrapper {
          span {
            font-size: 0.7rem;
            i {
              font-size: 0.7rem;
              margin-right: 0.3rem;
            }
          }
        }
      }
    }
  }
}
