.textEnd {
  display: flex;
  justify-content: flex-end;
}
.product-description-review {
  .review-form1 {
    .users-comments-subtitle {
      font-size: 1rem;
      text-align: center;
      color: #8c8a8a;
    }
    .show-comments-wrapper {
      margin-bottom: 10px;
      .comment-wrapper {
        padding: 10px 0;
        border-bottom: 1px solid #cecece;
        > div {
          &:first-child {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            span {
              font-size: 0.8rem;
              font-weight: 700;
            }
          }
        }
        > .show-comment-text {
          margin-bottom: 20px;
          p {
            font-size: 0.83rem;
            color: rgb(94, 94, 94);
          }
        }
      }
    }
    .comment-rate {
      display: flex;
    }
    .comment-date {
      font-size: 0.8rem;
    }

    .users-add-comment-subtitle {
      font-size: 1rem;
      text-align: center;
      color: #8c8a8a;
      margin: 20px 0;
    }
    .review-form2 {
      .show-review {
        display: flex;
        flex-direction: column;
        label {
          margin: 1em 0 0.5em 0;
          font-size: 0.85rem;

          // &:before {
          //   content: "* ";
          //   color: red;
          // }
        }
        input {
          border: 1px solid rgba(#000, 0.2);
          border-radius: 5px;
          padding: 0.5rem;
          &::placeholder {
            font-size: 0.7rem;
          }
        }
        textarea {
          border: none;
          padding: 1em;
          // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
          border: 1px solid rgba(#000, 0.2);
          border-radius: 5px;
          height: 100px;
          &::placeholder {
            font-size: 0.7rem;
          }
        }
      }

      .rating-section {
        margin: 1em 0;
        display: flex;
        align-items: center;

        .MuiRating-decimal {
          display: inline-flex;
          align-items: center;
        }
        > label {
          display: block;
          // &:before {
          //   content: "* ";
          //   color: red;
          // }
        }
        input {
          margin: 0 0.5em;
        }
      }
      .star-rating-wrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-inline-start: 40px;
        .MuiSvgIcon-root {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      // button {
      //   border: none;
      //   background-color: var(--yellow);
      //   color: #333;
      //   font-family: iranSans;
      //   text-align: center;
      //   padding: 0.5rem 1rem;
      //   border-radius: 20px;
      //   width: 8em;
      //   transition: 0.3s ease-in-out;

      //   &:hover {
      //     background-color: var(--cream);
      //     transition: 0.3s ease-in-out;
      //   }
      // }
    }
  }
}

@media (max-width: 570px) {
  .user-check-active-road {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > span {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 350px) {
  .user-check-active-road {
    > span {
      font-size: 0.6rem;
    }
  }
}
