.dropdown {
  > a {
    width: 50%;
    display: block;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9rem;
    color: rgb(59, 59, 59);
  }
  .list-unstyled {
    > a {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .drop-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    padding: 0.3rsem;
    flex-flow: unset;
    cursor: pointer;
    &:hover {
      background-color: rgb(228, 228, 228);
      border-radius: 5px;
    }
  }
  .drop-image {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    overflow: hidden;
    > img {
      border: 1px solid #a4a4a4;
      border-radius: 100%;
      padding: 0.2rem;
      height: 100%;
    }
  }
  .drop-text {
    display: flex;
    flex-flow: column;
    padding: 0.2rem;
    justify-content: center;
    width: calc(100% - 3rem);
    overflow: hidden;
    text-overflow: ellipsis;
    > span {
      margin: 0.2em 0;
      line-height: unset;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .drop-title {
      font-size: 0.7em;
    }
    .drop-description {
      font-size: 0.6rem;
      color: #97a9b2;
    }
  }
  .dropdown-menu.show {
    // overflow: auto;
  }
}
