.imageComponent {
  display: block;

  // Add a smooth animation on loading

  // I use utilitary classes instead of props to avoid style regenerating
  &.loaded:not(.has-error) {
    animation: loaded 1s ease-in-out;
  }

  &.has-error {
    // fallback to placeholder image on error
    // content: url(${placeHolder});
  }
}

.image-lazyloading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
@keyframes loaded {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
