@import "./DateCelander/index.scss";
@import "./DateInput/index.scss";
@import "./DropdownBoot/index.scss";
@import "./InputDropDownSearch/index.scss";
@import "./InputFile/index.scss";
@import "./InputFileArray/index.scss";
@import "./InputPush/index.scss";
@import "./SearchDropDown/index.scss";
@import "./SearchDropDownArray/index.scss";
@import "./CkEditor/index.scss";
.margin-1rem {
  margin: 1rem;
}
> div {
  width: 100%;
}
.input-alert-validation {
  font-size: 11px;
}
.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  ::placeholder {
    font-size: 0.7rem;
  }

  .Label {
    display: flex;
    flex: 0 0 21%;
    font-size: 0.8rem;
    max-width: 21%;
    align-items: center;
    color: #4e4e4e;
  }
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.InputElement:focus {
  outline: none;
  // background-color: #ccc;
  border: 1px solid rgb(48, 48, 48);
  transition: all 0.2s linear;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
@media (max-width: 500px) {
  .Input {
    display: unset;

    .Label {
      display: flex;
      flex: 0 0 100%;
      font-size: 0.8rem;
      max-width: 100%;
      align-items: center;
      color: #4e4e4e;
      padding-bottom: 0.5rem;
    }
  }
}
