.login-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #333;

    label {
      margin-top: 1rem;
      margin-bottom: 0.3rem;
    }
    .pass-label-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      margin-bottom: 0.3rem;
      align-items: flex-end;
      label {
        margin: 0;
      }
      span a {
        font-size: 0.7rem;
      }
    }

    .login-name-wrapper,
    .pass-wrapper {
      position: relative;

      i {
        font-size: 18px;
        color: #333;
        position: absolute;
        padding: 0.5rem;
      }
      input {
        width: 100%;
        border: 1px solid #333;
        padding: 0.5rem;
        padding-right: 2rem;
        border-radius: 4px;
        background-color: rgba(#f9f9ba, 0.8);
      }
    }
    button {
      padding: 0.3rem 3rem;
      border: none;
      background: #f89f34;
      text-align: center;
      transition: 0.3s ease-in-out;
      border-radius: 5px;
      color: #fff;
      font-size: 1.4rem;
      margin: 14px auto;

      &:hover {
        background: #d87700;
        color: #000;
      }
    }
    .chekbox-wrapper {
      margin-top: 0.5rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      input {
        margin-left: 0.2rem;
        margin-top: 0.7rem;
      }
    }
  }
}
