.container-form {
  //   display: flex;
  border-radius: 5px;
  padding: 20px;
  width: 80vw;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

    input[type="text"],
    select,
    textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    label {
      margin-top: 0.5rem;
    }

    /* Style the submit button with a specific background color etc */
    input[type="submit"] {
      background-color: var(--light-green);
      text-align: center;
      width: 40%;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      margin: 1rem auto;
      font-size: 1.2rem;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type="submit"]:hover {
      background-color: var(--light-green);
    }
  }
}

@media only screen and (max-width: 500px) {
  .container-form {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    width: unset;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      margin: 0 auto;

      input[type="submit"] {
        width: 80%;
      }
    }
  }
}
