.carousel {
  position: relative;
  .back,
  .forward {
    background: none;
    border: none;
    margin: 0 0.1rem;
    position: absolute;
    font-size: 1.5rem;
    transition: 0.1s ease-in-out;
    outline: none;
  }
  .back {
    top: 50%;
    left: -30px;
    &:hover {
      transform: translateX(-2px);
    }
  }
  .forward {
    top: 50%;
    right: -30px;
    &:hover {
      transform: translateX(2px);
    }
  }
}
.carousel-root {
  .carousel {
    .slider-wrapper {
      ul.slider {
        direction: ltr !important;
      }
    }
  }
}

@media only screen and (max-width: 40em) {
  .carousel-root {
    .carousel {
      .slider-wrapper {
        // margin-top: 2rem;
        ul.slider {
          direction: ltr !important;
        }
      }
    }
  }
}
